services:
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: always
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "24454:24454/udp"
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      INIT_MEMORY: 1M
      MAX_MEMORY: 8G
      EULA: "TRUE"
      DIFFICULTY: "hard"
      WHITELIST: |
        lamanchy
        zizek_betelgeuse
      SEED: "1992452246193441360"
      VERSION: 1.21.10
      VIEW_DISTANCE: 32
      OPS: |
        lamanchy
      MODPACK_PLATFORM: MODRINTH
      MODRINTH_MODPACK: https://modrinth.com/modpack/fabulously-optimized/version/11.2.0
      MODRINTH_PROJECTS: |
        architectury-api
        https://modrinth.com/mod/distanthorizons/version/2.4.5-b-1.21.10
        inventory-profiles-next
        ambientsounds
        simple-voice-chat
        xaeros-world-map
        towns-and-towers
        jade
        vegan-recipes
        appleskin
        rei
        not-enough-animations
        xaeros-minimap
        carry-on

    volumes:
      # attach the relative directory 'data' to the container's /data path
      - ./data:/data