services:
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: always
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "24454:24454/udp"
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      INIT_MEMORY: 1M
      MAX_MEMORY: 8G
      EULA: "TRUE"
      DIFFICULTY: "hard"
      WHITELIST: |
        lamanchy
        zizek_betelgeuse
      SEED: "1992452246193441360"
      VERSION: 1.21.10
      VIEW_DISTANCE: 32
      OPS: |
        lamanchy
      MODPACK_PLATFORM: MODRINTH
      MODRINTH_MODPACK: fabulously-optimized
      MODRINTH_PROJECTS: |
        ferrite-core
        modmenu
        xaeros-world-map
        bettergrassify
        translations-for-sodium
        sodium-extra
        vegan-recipes
        fabric-language-kotlin
        yacl
        cristel-lib
        zoomify
        mixintrace
        no-chat-reports
        modelfix
        capes
        debugify
        cloth-config
        architectury-api
        yosbr
        crash-assistant
        rei
        ambientsounds
        better-mount-hud
        entitytexturefeatures
        inventory-profiles-next
        enchantment-descriptions
        entityculling
        immediatelyfast
        continuity
        controlify
        creativecore
        xaeros-minimap
        chat-reporting-helper
        sodium-shadowy-path-blocks
        simple-voice-chat
        animatica
        main-menu-credits
        forge-config-api-port
        language-reload
        libipn
        fabrishot
        jade
        prickle
        paginatedadvancements
        iris
        makeup-ultra-fast-shaders
        fastquit
        not-enough-animations
        e4mc
        cubes-without-borders
        moreculling
        reeses-sodium-options
        optigui
        towns-and-towers
        morechathistory
        puzzle
        skyboxify
        carry-on
        fabric-api
        rrls
        lithium
        dynamic-fps
        entity-model-features
        lambdynamiclights
        appleskin
        distanthorizons
        sodium
    volumes:
      # attach the relative directory 'data' to the container's /data path
      - ./data:/data