services:
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: always
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "24454:24454/udp"
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      INIT_MEMORY: 1M
      MAX_MEMORY: 8G
      EULA: "TRUE"
      DIFFICULTY: "hard"
      WHITELIST: |
        lamanchy
        zizek_betelgeuse
      SEED: "1992452246193441360"
      VERSION: 1.21.10
      VIEW_DISTANCE: 32
      OPS: |
        lamanchy
      MODPACK_PLATFORM: MODRINTH
      MODRINTH_MODPACK: fabulously-optimized
      MODRINTH_PROJECTS: |
        ambientsounds
        animatica
        appleskin
        architectury-api
        better-mount-hud
        bettergrassify
        capes
        carry-on
        cloth-config
        continuity
        controlify
        crash-assistant
        creativecore
        cristel-lib
        cubes-without-borders
        debugify
        distanthorizons
        dynamic-fps
        e4mc
        enchantment-descriptions
        entity-model-features
        entityculling
        entitytexturefeatures
        fabric-api
        fabric-language-kotlin
        fabrishot
        fastquit
        ferrite-core
        forge-config-api-port
        immediatelyfast
        inventory-profiles-next
        iris
        jade
        lambdynamiclights
        language-reload
        libipn
        lithium
        main-menu-credits
        mixintrace
        modelfix
        modmenu
        morechathistory
        moreculling
        no-chat-reports
        not-enough-animations
        optigui
        paginatedadvancements
        prickle
        puzzle
        reeses-sodium-options
        rei
        rrls
        simple-voice-chat
        skyboxify
        sodium
        sodium-extra
        sodium-shadowy-path-blocks
        towns-and-towers
        vegan-recipes
        xaeros-minimap
        xaeros-world-map
        yacl
        yosbr
        zoomify
    volumes:
      # attach the relative directory 'data' to the container's /data path
      - ./data:/data