services:
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: always
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "24454:24454/udp"
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      INIT_MEMORY: 1M
      MAX_MEMORY: 8G
      EULA: "TRUE"
      DIFFICULTY: "hard"
      WHITELIST: |
        lamanchy
        zizek_betelgeuse
      SEED: "1992452246193441360"
      VERSION: 1.21.10
      VIEW_DISTANCE: 32
      OPS: |
        lamanchy
      MODPACK_PLATFORM: MODRINTH
      MODRINTH_MODPACK: fabulously-optimized
      MODRINTH_PROJECTS: |
        rei
        architectury-api
        vegan-recipes
        simple-voice-chat
    volumes:
      # attach the relative directory 'data' to the container's /data path
      - ./data:/data